/* Based on Srini G's Fluid Blue (http://srinig.com/wordpress/themes/fluid-blue/) */

body {
  font-size: 13px;
  margin: 0;
  font-family: 'Helvetica Neue', 'Lucida Grande', sans-serif;
  letter-spacing: 1px;
  line-height: 1.5em;
}

/* Header */

#header {
  margin: 0;
  padding: 2em 0;
  height: 2.4em;
  background: #237AB2;
}

#headertitle {
  float: left; 
  position: absolute;
  top: 24px;
  width: 209px;
  left: 60px;
  float: left; 
}

#headertitle h1 {
  margin: 0
}

#headertitle h1 a {
  background: transparent;
  color: #fff;
  text-decoration: none;
}

#headertitle h1 a:hover {
  text-decoration: none;
}

#headertitle p {
  margin: 0;
  background: transparent;
  color: #fff;
  font-size: 1.1 em;
}


/* Navigation */

#navbar {
  border-top:0.1em solid #555;
  border-bottom:0.1em solid #555;
  background:#165279;
  height: 2.3em;
  margin: 0px;
  padding: 0px;
}

#nav {
  margin: 0 5%;
  padding: 0;
  list-style: none;
}

#nav ul {
  padding: 0.1em 0 0 0;
  margin: 0;
  list-style: none;
  background: transparent;
}

#nav li {
  float: left;
  margin: 0;
  padding: 0;
}

#nav a {
  color: #c6c8c9;
  display: block;
  font-weight: bold;
  padding: 0.5em;
}

#nav a:hover {
  background: #237ab2;
  color: #fff;
  display: block;
  text-decoration: none;
  padding: 0.5em;
}

#nav li {
  float: left;
  margin: 0;
  text-transform: uppercase;
  padding: 0 2em 0 0;
}

/* Wrapper */

#wrapper {
  margin: 0 5%;
  padding-right: 230px;
}

/* Sidebar */

#sidebar {
  float: left;
  width: 190px;
  margin: 0 -230px 0 0;
  padding: 20px;
  background: #eee;
}

/* Content */

#content {
  float: left;
  min-height: 550px;
  height: auto;
  width: 96%;
  border-right: 230px solid #eee;
  margin-right: -230px;
  padding: 20px 4% 20px 0;
}

/* Footer */

#footer {
  clear: both;
  padding: 10px;
  border-top: 0.2em solid #555;
  color: #eee;
  background: #165279;
  font-size: 1.1em;
}


